<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rus.test.chasti_rechi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_chr_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_chr_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="rus.test.chasti_rechi.Pred"/>
        <activity android:name="rus.test.chasti_rechi.Mesto" />
        <activity android:name="rus.test.chasti_rechi.Pril" />
        <activity android:name="rus.test.chasti_rechi.Glag" />
        <activity android:name="rus.test.chasti_rechi.Cush" />
        <activity android:name="rus.test.chasti_rechi.Gl">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>